<!DOCTYPE html>
<html>
<head>

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>API Docs | StaroWebD</title>

	<link rel="icon" href="/images/favicon.png" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/scripts/jquery.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="/scripts/bootstrap.min.js"></script>
	<link href="/styles/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Common -->
	<link href="/styles/common.css" rel="stylesheet">
	<script>
	</script>
    <style>
body {
    margin: 10px;
}
    </style>
</head>
<body>

    <div class="panel panel-primary" style="border-color: #e9117c !important;">
        <div class="panel-heading" style="border-color: #e9117c !important;padding: 0px !important; background-color: #e9117c !important;"><img src="/images/banner.png" style="height: 32px; padding: 5px; background-color: white; border-radius: 3px;" /></div>
        <div class="panel-body" style="border-color: #e9117c !important;">
<table class="table table-striped" style="width: 100%">
<thead>
    <th>Method</th>
    <th>URI</th>
    <th>Name</th>
    <th>Description</th>
</thead>
<tbody>
#foreach ($a in $api)
<tr>
    <td>
$a.method
    </td>
    <td>
$a.uri
    </td>
    <td>
$a.name
    </td>
    <td>
$a.desc
    </td>
</tr>
<tr>
    <td colspan="4">
        <table class="table table-striped" style="width: 100%">
        <thead>
            <th style="width: 30px">Type</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td style="width: 30px">Request</td>
                <td>
                    <table class="table table-striped" style="width: 100%">
                    <thead>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Default</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        #foreach ($pi in $a.request)
                        <tr>
                            <td>$pi.code()</td>
                            <td>$pi.name()</td>
                            <td>$pi.type()</td>
                            <td>$pi.defaultValueString()</td>
                            <td>$pi.desc()</td>
                        </tr>
                        #end
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 30px">Response</td>
                <td>
                    <table class="table table-striped" style="width: 100%">
                    <thead>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Default</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        #foreach ($pi in $a.response)
                        <tr>
                            <td>$pi.code()</td>
                            <td>$pi.name()</td>
                            <td>$pi.type()</td>
                            <td>$pi.defaultValueString()</td>
                            <td>$pi.desc()</td>
                        </tr>
                        #end
                    </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        </table>
    </td>
</tr>
#end
</tbody>
</table>
        </div>
    </div>

</script>
</body>
</html>
